
.contenedor {
  font-family: 'Helvetica Neue', sans-serif;
}

.foto {
  position: relative;
  border-radius: 500px;
  border-color: #073d63;
  border-style: solid;
  border-width: medium;
  height: 309.75px;
  width: 219px;
  left: 50%;
transform: translateX(-50%);
}

p {
  text-align: center;
}

.desc {
  color: #ffffff;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

.nombre {
  color: #adb7bd;
  font-family: 'Raleway',sans-serif;
  font-size: 20px;
}

.materia {
  color: #F0E4BC;
  font-family: 'Rouge Script', cursive;
  font-size: 25px;
}

.ao {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
