
<div class="contenedor">
  <img src="assets/images/Foto.jpg" class="foto">
  <p class="desc">Desarrollador:</p>
  <p class="nombre">Santiago Melo Medina</p>
  <p class="materia">Interfaces Humano-Computador</p>
  <p class="ao">2019-2©</p>


</div>
