
<header>
  <div class="container">
    <nav>
      <img src="/assets/images/Logo.png" class="logo" href="#" routerLink="/">
      <ul>
        <li class="home"><a href="#" routerLink="/" class="linked">Home</a></li>
        <li class="movies"><a href="#" routerLink="/about" class="linked">About</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="contenido">
  <router-outlet></router-outlet>
</div>
