
header {
  position: fixed;
  z-index:10;
  background-color: #002D4D;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
}

ul {
  position: relative;
  height: 10%;
  width: 100%;
}

.logo {
  position: absolute;
  cursor: pointer;
  height: 88px;
  width: 165px;
  margin-top: -12px;
  margin-left: 50px;
}

.home {
  display: inline-grid;
  position: fixed;
  right: 180px;
  margin-top: 8px;
}

.movies {
  display: inline-grid;
  position: fixed;
  right: 50px;
  margin-top: 8px;
}

.linked {
  justify-content: space-evenly;
  align-items: center;
  background-color: #003255;
  color: #adb7bd;
  font-family: 'Raleway',sans-serif;
  font-size: 14px;
  font-weight: 800;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.linked:hover {
  background-color: #002D4D;
  color: #00406E;
}

.contenido {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 120px;
  margin-bottom: 100px;
}
