
.category {
  position: relative;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-left: 15px;
  letter-spacing: -1px;
  line-height: 1;
}

.ScreenMovie {
  cursor: pointer;
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.ScreenMovie .image {
  margin: 10px;
  background-color: blue;
  height: 254.6px;
  width: 172.9px;
  transition: all 0.1s linear;
}

.ScreenMovie .details {
  position: absolute;
  background-image: url(/assets/images/black45.png);
  margin: 10px;
  height: 268px;
  width: 182px;
  opacity: 0%;
}

.ScreenMovie:hover .image {
  height: 268px;
  width: 182px;
  transition-timing-function: ease-in;
  transition-duration: 0.05s;
}

.ScreenMovie:hover .details {
  opacity: 100%;
  transition: opacity 0.2s linear;
}

.ScreenMovie .details .title {
  color: #ffffff;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.ScreenMovie .details .desc {
  color: #adb7bd;
  font-family: 'Raleway',sans-serif;
  font-size: 10px;
  font-weight: 800;
  text-align: center;
}

.ScreenMovie .details .rate {
  color: #F0E4BC;
  font-family: 'Rouge Script', cursive;
  font-size: 36px;
  font-weight: 400;
  margin-top: -10px;
  font-style: italic;
  text-align: center;
}

.ScreenMovie .details .langs {
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -20px;
}

.ScreenMovie .details .lang {
  background: #B48708;
  color: #ffffff;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 8px;
  font-weight: bold;
  line-height: 12px;
  letter-spacing: 1px;
  padding: 10px 15px 8px;
  margin: auto;
}

li {
  display: inline-grid;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}
