
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
}

ul {
  list-style-type:none;
}

.name {
  color: #ffffff;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -1px;
}

.imagen {
  height: 463.8px;
  width: 315.6px;
}

.titles {
  color: #F0E4BC;
  font-family: 'Rouge Script', cursive;
  font-size: 30px;
  font-weight: bold;
}

.desc {
  color: #adb7bd;
  font-family: 'Raleway',sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.languages {
  margin-left: -35px;
}

.language {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 10px;
}

.casting {
  margin-left: -35px;
}

.person {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 10px;
}

li {
  display: inline-grid;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

.movierelated {
  cursor: pointer;
  display: inline-grid;
  margin: 5px;
  height: 214.4px;
  width: 145.6px;
}
